* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:

    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

.button-panel {
  padding: 8px 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  display: flex;
  width: 700px;
  flex-direction: column;
  margin: 50px auto;
}

.display {
  width: 99.3%;
  background-color: #858693;
  height: 100px;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 80px;
  justify-content: flex-end;
  text-align: right;
  margin: auto;
}

.group-1,
.group-2,
.group-3,
.group-4,
.group-5 {
  height: 100px;
  width: 100%;
}

button {
  height: 100%;
  width: calc(25% - 0.2rem);
  text-align: center;
  color: black;
  border: 1px solid rgb(255, 255, 255);
  font-size: 35px;
  cursor: pointer;
  outline: none;
  margin: 0.1rem;
  min-width: unset;
}

button:hover {
  color: rgb(131, 131, 131);
}

.group-1 button:last-of-type,
.group-2 button:last-of-type,
.group-3 button:last-of-type,
.group-4 button:last-of-type,
.group-5 button:last-of-type {
  background-color: #f5913e !important;
}

.wide {
  width: calc(50% - 0.2rem);
}
